<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar_layout" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/users/mypage" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">마이페이지</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white ">
                    <i class="fs-4 bi-search"></i><span class="ms-1 d-none d-sm-inline">게시판</span> </a>
                <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="/users/mine/list" class="nav-link px-0 text-white bi bi-arrow-right"> <span class="d-none d-sm-inline">내가 쓴 글</span></a>
                    </li>
                    <li>
                        <a href="/users/comment/list" class="nav-link px-0 text-white bi bi-arrow-right"> <span class="d-none d-sm-inline">내가 쓴 댓글</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/users/scrap/list" class="nav-link px-0 align-middle text-white ">
                    <i class="fs-4 bi bi-bookmark-check-fill"></i> <span class="ms-1 d-none d-sm-inline">스크랩</span> </a>
            </li>
            <li>
                <a href="#" class="nav-link px-0 align-middle text-white ">
                    <i class="fs-4 bi bi-chat"></i> <span class="ms-1 d-none d-sm-inline">1:1 문의</span> </a>
            </li>
            <li>
                <a href="/users/info/modify" class="nav-link px-0 align-middle text-white ">
                    <i class="fs-4 bi-info-square"></i> <span class="ms-1 d-none d-sm-inline">정보수정</span> </a>
            </li>
            <li>
                <a href="#" class="nav-link px-0 align-middle text-white " data-bs-toggle="modal" data-bs-target="#outModal">
                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">회원탈퇴</span> </a>
            </li>
        </ul>
        <hr>
    </div>

    <div class="modal fade" id="outModal" aria-hidden="true" aria-labelledby="outModallLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="outModallLabel">탈퇴</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>가입된 회원정보가 모두 삭제됩니다.</p>
                        <p>작성하신 게시물은 삭제되지 않습니다.</p>
                        <p>탈퇴 후 같은 계정으로 재가입 시 기존에 가지고 있던 기부금 및 스탬프는 복원되지 않습니다.</p>
                        <p>회원 탈퇴를 진행하시겠습니까?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary outSave">확인</button>
                    <button type="button" class="btn btn-outline-secondary donationClose" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>