<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::title},~{::link},~{::main},~{::script})}" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>GoalGoals-SDGs</title>
    <link/>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav th:replace="layout/layoutNav :: nav_layout" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div th:replace="layout/layoutSidebarBoard :: boardSidebar_layout" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark"/>
            <div class="col py-5">
                <div class="container">
                    <div class="header">
                        <h3 class="middle">자유게시판</h3>
                    </div>
                    <div>
                        <form action="/guestbook/modify" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="page" th:value="${requestDTO.page}">
                            <input type="hidden" name="type" th:value="${requestDTO.type}">
                            <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">
                            <div class="form-group">
                                <label >번호</label>
                                <input type="text" class="form-control" name="id" th:value="${dto.id}" readonly >
                            </div>

                            <div class="form-group">
                                <label >제목</label>
                                <input type="text" class="form-control" name="title" th:value="${dto.title}">
                            </div>
                            <div class="form-group">
                                <label >내용</label>
                                <textarea class="form-control" rows="5" name="content">[[${dto.content}]]</textarea>
                            </div>
                            <div class="form-group">
                                <label>첨부파일</label>
                                <input type="file" class="form-control" multiple="multiple" name="imageFiles">
                            </div>
                            <div class="form-group">
                                <div th:each="image, status : ${images}">
                                    <div class="image-container" th:fragment="imageContainer"  th:id="'imageContainer-' + ${image.getStoreFileName()}">
                                        <span th:text="${image.getUploadFileName()}"></span>
                                        <button type="button" class="btn btn-outline-secondary btn-sm delete-btn" th:data-image="${image.getStoreFileName()}">X</button>
                                        <input type="hidden" th:id="'imageToDelete-' + ${image.getStoreFileName()}" name="imagesToDelete" th:value="${image.getStoreFileName()}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label >작성자</label>
                                <input type="text" class="form-control"  th:value="${dto.writer}" readonly>
                            </div>
                            <div class="form-group">
                                <label >등록일</label>
                                <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
                            </div>
                            <div class="form-group">
                                <label >수정일</label>
                                <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
                            </div>
                        </form>
                        <button th:if="${#authentication.name eq dto.writer}" type="button" class="btn btn-primary modifyBtn">수정</button>
                        <button type="button" class="btn btn-info listBtn">목록</button>
                        <button th:if="${#authentication.name eq dto.writer}" type="button" class="btn btn-danger removeBtn">삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript">
    const removeBtn = document.querySelector(".removeBtn");
    const actionForm = document.querySelector("form");
    const modifyBtn = document.querySelector(".modifyBtn");
    const pageInfo = document.querySelector("input[name='page']");
    const typeInfo = document.querySelector("input[name='type']");
    const keywordInfo = document.querySelector("input[name='keyword']");
    const listBtn = document.querySelector(".listBtn");

    // 선택한 이미지 파일 이름을 담을 배열
    const selectedImages = [];

    document.addEventListener('DOMContentLoaded', function () {
        // 삭제 버튼에 이벤트 핸들러 등록
        const deleteBtns = document.querySelectorAll('.delete-btn');
        deleteBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                const imageFileName = btn.getAttribute('data-image');
                toggleDeletion(imageFileName);
            });
        });
    });

    // 이미지 삭제를 위한 함수
    function toggleDeletion(imageFileName) {
        // 선택한 이미지의 부모 div를 찾아 숨기기
        const selectedDiv = document.getElementById("imageContainer-"+imageFileName);
        if (selectedDiv) {
            // 부모 엘리먼트에서 제거
            selectedDiv.parentNode.removeChild(selectedDiv);

            // 배열에 이미지 파일 이름 추가
            selectedImages.push(imageFileName);
        } else {
            console.error("엘리먼트를 찾을 수 없습니다: " + imageFileName);
        }
    }

    removeBtn.addEventListener('click', function () {
        actionForm.setAttribute("action", "/board/free/remove");
        actionForm.method = "post";
        actionForm.submit();
    });

    modifyBtn.addEventListener('click', function () {
        if (!confirm("수정하시겠습니까?")) {
            return;
        }

        // 이미지 파일 이름을 전송할 숨겨진 입력(input) 요소를 담을 컨테이너
        const hiddenInputContainer = document.createElement("div");

        // 선택한 이미지 파일 이름만을 hidden input으로 추가
        for (const imageName of selectedImages) {
            const hiddenInput = document.createElement("input");
            hiddenInput.setAttribute("type", "hidden");
            hiddenInput.setAttribute("name", "storeFileNames");
            hiddenInput.setAttribute("value", imageName);
            hiddenInputContainer.appendChild(hiddenInput);
        }

        // 숨겨진 입력 컨테이너를 form에 추가
        actionForm.appendChild(hiddenInputContainer);
        actionForm.setAttribute("action", "/board/free/modify");
        actionForm.method = "post";
        actionForm.submit();
    });

    listBtn.addEventListener("click", function () {
        actionForm.innerHTML = "";
        actionForm.append(pageInfo);
        actionForm.append(typeInfo);
        actionForm.append(keywordInfo);
        actionForm.setAttribute("action", "/board/free/list");
        actionForm.method = "get";
        actionForm.submit();
    });
</script>
</body>
</html>