<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::title},~{::link},~{::main},~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GoalGoals-SDGs</title>
    <link/>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav th:replace="layout/layoutNav :: nav_layout" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div th:replace="layout/layoutSidebarBoard :: boardSidebar_layout" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark"/>
            <div class="col py-5">
                <div class="container">
                    <div class="header">
                        <h3 class="middle" th:if="${dto.category == 'free'}" >자유 게시판</h3>
                        <h3 class="middle" th:if="${dto.category == 'manner'}" >실천 방법 등록</h3>
                        <h3 class="middle" th:if="${dto.category == 'fulfill'}" >실천 등록</h3>
                    </div>
                    <div>
                        <div class="form-group">
                            <label >번호</label>
                            <input type="text" class="form-control" name="id" th:value="${dto.id}" readonly >
                        </div>
                        <div class="form-group">
                            <label>카테고리</label>
                            <select class="form-select" aria-label="Default select example" th:field="${dto.category}" id="categorySelect">
                                <option value="free">자유 게시판</option>
                                <option value="manner">실천 방법 등록</option>
                                <option value="fulfill">실천 등록</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label >제목</label>
                            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly >
                        </div>
                        <div class="form-group">
                            <label >내용</label>
                            <textarea class="form-control" rows="5" name="content" readonly>[[${dto.content}]]</textarea>
                        </div>
                        <div class="form-group">
                            <img th:each="image : ${images}" th:src="|/board/images/${image.getStoreFileName()}|" width="300" height="300"/>
                        </div>
                        <div class="form-group">
                            <label >작성자</label>
                            <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
                        </div>
                        <div class="form-group">
                            <label >등록일</label>
                            <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
                        </div>
                        <div class="form-group">
                            <label >수정일</label>
                            <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
                        </div>
                        <div class="form-group">
                            <label >조회수 : [[${dto.hit}]]</label>
                        </div>

                        <!--        <a th:href="@{/guestbook/modify(gno = ${dto.gno}, page=${requestDTO.page})}"><button type="button" class="btn btn-primary">Modify</button></a>-->

                        <!--        <a th:href="@{/guestbook/list(page=${requestDTO.page})}"><button type="button" class="btn btn-info">List</button></a>-->

                        <a th:if="${#authentication.name eq dto.writer}" th:href="@{/board/{cate}/modify(cate=${cate}, id=${dto.id}, page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
                            <button type="button" class="btn btn-primary">수정</button>
                        </a>

                        <a th:href="@{/board/{cate}/list(cate=${cate},page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
                            <button type="button" class="btn btn-info">목록</button>
                        </a>

                        <button type="button" class="btn btn-success scrapBtn">스크랩</button>

                        <div>
                            <div class="mt-4">
                                <h5 >
                                    <button type="button" class="badge bg-secondary addBoardComment" data-bs-toggle="modal" data-bs-target="#addModal">
                                        댓글 쓰기
                                    </button>
                                </h5>
                                <h5 >
                                    <button type="button" class="badge bg-secondary boardCommentCount">
                                        댓글 개수 : [[${dto.commentCount}]] (더보기)
                                    </button>
                                </h5>
                            </div>
                            <div class="list-group boardCommentList">

                            </div>
                        </div>


                        <!-- Modal -->
                        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addModalLabel">댓글</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input class="form-control"  type="text" name="replyText" placeholder="Reply Text...">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control"  type="text" name="replyer"  th:value="${#authentication.name}" readonly>
                                            <input type="hidden" name="rno" >
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger replyRemove">삭제</button>
                                        <button type="button" class="btn btn-warning replyModify">수정</button>
                                        <button type="button" class="btn btn-primary replySave">저장</button>
                                        <button type="button" class="btn btn-outline-secondary replyClose">닫기</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript">

    const bno = [[${dto.id}]];
    const authenticatedUser = [[${#authentication.name}]];
    const listGroup = document.querySelector(".boardCommentList");
    const modal = new bootstrap.Modal(document.getElementById('addModal'));
    let replyRemoveButton = document.querySelector('.replyRemove');
    let replyModifyButton = document.querySelector('.replyModify');
    let replySaveButton = document.querySelector('.replySave');
    let replyCloseButton = document.querySelector('.replyClose');

    //날짜 처리를 위한 함수
    function formatTime(str) {
        const date = new Date(str);

        return (
            date.getFullYear() + '/' +
            (date.getMonth() + 1) + '/' +
            date.getDate() + ' ' +
            date.getHours() + ':' +
            date.getMinutes()
        );
    }
    // 특정 게시물의 댓글을 처리하는 함수
    function loadJSONData() {
        fetch('/boardComment/board/' + bno)
            .then(function (response) {
                return response.json();
            })
            .then(function (arr) {
                console.log(arr);

                let str = "";

                document.querySelector('.boardCommentCount').innerHTML = " 댓글 개수 : " + arr.length +" (더보기)";

                arr.forEach(function (boardComment) {
                    console.log(boardComment);
                    str += ' <div class="card-body" data-rno="' + boardComment.rno + '"><b>' + boardComment.rno + '</b> &nbsp';
                    if(authenticatedUser == boardComment.replyer) {
                        str += '<button class="edit btn btn-secondary btn-sm" th:if="${#authentication.name eq  boardComment.replyer}">편집</button>';
                    }
                    str += ' <h5 class="card-title">' + boardComment.comments + '</h5>';
                    str += ' <h6 class="card-subtitle mb-2 text-muted">' + boardComment.replyer + '</h6>';
                    str += ' <p class="card-text">' + formatTime(boardComment.modDate) + '</p>';
                    str += '</div>';
                });

                listGroup.innerHTML = str;
            })
            .catch(function (error) {
                console.error('Fetch 오류:', error);
            });
    }
    document.querySelector(".boardCommentCount").addEventListener('click', loadJSONData);

    // 모달 초기화 및 버튼 표시
    document.querySelector(".addBoardComment").addEventListener('click', function () {
        modal.show();
        // 댓글 입력하는 부분 초기화
        document.querySelector('input[name="replyText"]').value = '';

        // 모든 버튼을 숨김
        let buttons = document.querySelectorAll('.modal-footer .btn');
        buttons.forEach(function (button) {
            button.style.display = 'none';
        });

        // 필요한 버튼만 표시
        replySaveButton.style.display = 'block';
        replyCloseButton.style.display = 'block';
    });

    // 모달 닫기 이벤트 리스너
    document.querySelector(".replyClose").addEventListener('click', function () {
        modal.hide();
    })

    // 모달 댓글 저장
    document.querySelector('.replySave').addEventListener('click', function () {
        let reply = {
            bno: bno,
            comments: document.querySelector('input[name="replyText"]').value,
            replyer: document.querySelector('input[name="replyer"]').value
        };

        console.log(reply);

        fetch('/boardComment/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json; charset=utf-8'
            },
            body: JSON.stringify(reply)
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                console.log(data);

                let newRno = parseInt(data);

                alert(newRno +"번 댓글이 등록되었습니다.");
                modal.hide();
                loadJSONData();
            })
            .catch(function (error) {
                console.error('Fetch 오류:', error);
            });
    });

    //모달에 댓글 내용 불러오기
    listGroup.addEventListener('click', function (event) {
        // 클릭된 요소가 edit 클래스를 포함하는지 확인
        if (event.target.classList.contains('edit')) {
            let rno = event.target.parentElement.dataset.rno;

            // 댓글 입력 부분 초기화
            let replyText = event.target.parentElement.querySelector('.card-title').innerHTML;
            let replyer = event.target.parentElement.querySelector('.card-subtitle').innerHTML;
            //parentElement 쓰는 이유: 이벤트가 발생한 요소가 실제로 버튼 자체가 아닌 버튼을 감싸고 있는 부모 요소인 div.card-body일 때, 해당 부모 요소에서 필요한 정보를 추출하기 위함

            document.querySelector('input[name="replyText"]').value = replyText;
            document.querySelector('input[name="replyer"]').value = replyer;
            document.querySelector('input[name="rno"]').value = rno;

            // 모든 버튼을 숨김
            let buttons = document.querySelectorAll('.modal-footer .btn');
            buttons.forEach(function (button) {
                button.style.display = 'none';
            });

            // 필요한 버튼만 표시
            replyRemoveButton.style.display = 'block';
            replyModifyButton.style.display = 'block';
            replyCloseButton.style.display = 'block';

            // 모달 보이기
            modal.show();
        }
    });

    //모달에서 삭제
    replyRemoveButton.addEventListener("click", function () {
        let rno = document.querySelector("input[name='rno']").value;

        fetch('/boardComment/' + rno, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json; charset=utf-8'
            }
        })
            .then(function(response) {
                return response.text();
            })
            .then(function(result) {
                console.log("result: " + result);
                if (result === 'success') {
                    alert("댓글이 삭제되었습니다.");
                    modal.hide();
                    loadJSONData();
                }
            })
            .catch(function(error) {
                console.error('Fetch 오류:', error);
            });
    });

    //모달에서 수정
    replyModifyButton.addEventListener("click", function () {
        let rno = document.querySelector("input[name='rno']").value;

        let reply = {
            rno: rno,
            bno: bno,
            comments: document.querySelector('input[name="replyText"]').value,
            replyer: document.querySelector('input[name="replyer"]').value
        }

        console.log(reply);
        fetch('/boardComment/' + rno, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json; charset=utf-8'
            },
            body: JSON.stringify(reply)
        })
            .then(function(response) {
                return response.text();
            })
            .then(function(result) {
                console.log("result: " + result);
                if (result === 'success') {
                    alert("댓글이 수정되었습니다.");
                    modal.hide();
                    loadJSONData();
                }
            })
            .catch(function(error) {
                console.error('Fetch 오류:', error);
            });
    });

    //조회에서 카테고리 변경 불가능하게 설정
    document.getElementById('categorySelect').addEventListener('change', function () {
        this.value = [[${dto.category}]]; // 원래 값으로 변경
    });

    document.querySelector('.scrapBtn').addEventListener('click', function () {

        fetch('/board/scrap/' + bno, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json; charset=utf-8'
            }
        })
            .then(function(response) {
                return response.text();
            })
            .then(function(result) {
                console.log("result: " + result);
                if (result === 'success') {
                    alert("스크랩이 완료되었습니다.");
                    modal.hide();
                }
            })
            .catch(function(error) {
                console.error('Fetch 오류:', error);
            });
    });

</script>
</body>
</html>