<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::title},~{::link},~{::main},~{::script})}" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>GoalGoals-SDGs</title>
    <link/>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav th:replace="layout/layoutNav :: nav_layout" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div th:replace="layout/layoutSidebarBoard :: boardSidebar_layout" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark"/>
            <div class="col py-5">
                <div class="container">
                    <div class="header">
                        <h3 class="middle">자유 게시판</h3>
                    </div>
                    <div>
                        <div class="form-group">
                            <label >num</label>
                            <input type="text" class="form-control" name="id" th:value="${dto.id}" readonly >
                        </div>

                        <div class="form-group">
                            <label >Title</label>
                            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly >
                        </div>
                        <div class="form-group">
                            <label >Content</label>
                            <textarea class="form-control" rows="5" name="content" readonly>[[${dto.content}]]</textarea>
                        </div>
                        <div class="form-group">
                            <label >Writer</label>
                            <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
                        </div>
                        <div class="form-group">
                            <label >RegDate</label>
                            <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
                        </div>
                        <div class="form-group">
                            <label >ModDate</label>
                            <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
                        </div>

                        <!--        <a th:href="@{/guestbook/modify(gno = ${dto.gno}, page=${requestDTO.page})}"><button type="button" class="btn btn-primary">Modify</button></a>-->

                        <!--        <a th:href="@{/guestbook/list(page=${requestDTO.page})}"><button type="button" class="btn btn-info">List</button></a>-->

                        <a th:href="@{/board/free/modify(id = ${dto.id}, page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
                            <button type="button" class="btn btn-primary">Modify</button>
                        </a>

                        <a th:href="@{/board/free/list(page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
                            <button type="button" class="btn btn-info">List</button>
                        </a>

                        <div>
                            <div class="mt-4">
                                <h5 >
                                    <button type="button" class="badge bg-secondary addBoardComment" data-bs-toggle="modal" data-bs-target="#addModal">
                                        Add Reply
                                    </button>
                                </h5>
                                <h5 >
<!--                                    <span class="badge bg-secondary boardCommentCount"> Reply Count  [[${dto.commentCount}]]</span> -->
                                    <button type="button" class="badge bg-secondary boardCommentCount">
                                        Reply Count [[${dto.commentCount}]]
                                    </button>
                                </h5>
                            </div>
                            <div class="list-group boardCommentList">

                            </div>
                        </div>


                        <!-- Modal -->
                        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input class="form-control"  type="text" name="replyText" placeholder="Reply Text...">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control"  type="text" name="replyer" placeholder="Replyer">
                                            <input type="hidden" name="rno" >
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger replyRemove">Remove</button>
                                        <button type="button" class="btn btn-warning replyModify">Modify</button>
                                        <button type="button" class="btn btn-primary replySave">Save</button>
                                        <button type="button" class="btn btn-outline-secondary replyClose">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript">

    const id = [[${dto.id}]];
    const listGroup = document.querySelector(".boardCommentList");
    const modal = new bootstrap.Modal(document.getElementById('addModal'));

    //날짜 처리를 위한 함수
    function formatTime(str) {
        const date = new Date(str);

        return (
            date.getFullYear() + '/' +
            (date.getMonth() + 1) + '/' +
            date.getDate() + ' ' +
            date.getHours() + ':' +
            date.getMinutes()
        );
    }
    // 특정 게시물의 댓글을 처리하는 함수
    function loadJSONData() {
        fetch('/boardComment/board/' + id)
            .then(function (response) {
                return response.json();
            })
            .then(function (arr) {
                console.log(arr);

                let str = "";

                document.querySelector('.boardCommentCount').innerHTML = " Reply Count " + arr.length;

                arr.forEach(function (boardComment) {
                    console.log(boardComment);
                    str += ' <div class="card-body" data-rno="' + boardComment.rno + '"><b>' + boardComment.rno + '</b>';
                    str += ' <h5 class="card-title">' + boardComment.comments + '</h5>';
                    str += ' <h6 class="card-subtitle mb-2 text-muted">' + boardComment.replyer + '</h6>';
                    str += ' <p class="card-text">' + formatTime(boardComment.regDate) + '</p>';
                    str += '</div>';
                });

                listGroup.innerHTML = str;
            })
            .catch(function (error) {
                console.error('Fetch 오류:', error);
            });
    }
    document.querySelector(".boardCommentCount").addEventListener('click', loadJSONData);

    // 모달 초기화 및 버튼 표시
    document.querySelector(".addBoardComment").addEventListener('click', function () {
        modal.show();
        // 댓글 입력하는 부분 초기화
        document.querySelector('input[name="replyText"]').value = '';
        document.querySelector('input[name="replyer"]').value = '';

        // 모든 버튼을 숨김
        let buttons = document.querySelectorAll('.modal-footer .btn');
        buttons.forEach(function (button) {
            button.style.display = 'none';
        });

        // 필요한 버튼만 표시
        let replySaveButton = document.querySelector('.replySave');
        let replyCloseButton = document.querySelector('.replyClose');
        replySaveButton.style.display = 'block';
        replyCloseButton.style.display = 'block';
    });

    // 모달 닫기 이벤트 리스너
    document.querySelector(".replyClose").addEventListener('click', function () {
        modal.hide();
    })

    // 모달 댓글 저장
    document.querySelector('.replySave').addEventListener('click', function () {
        let reply = {
            bno: id,
            comments: document.querySelector('input[name="replyText"]').value,
            replyer: document.querySelector('input[name="replyer"]').value
        };

        console.log(reply);

        fetch('/boardComment/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json; charset=utf-8'
            },
            body: JSON.stringify(reply)
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                console.log(data);

                let newRno = parseInt(data);

                alert(newRno +"번 댓글이 등록되었습니다.");
                modal.hide();
                loadJSONData();
            })
            .catch(function (error) {
                console.error('Fetch 오류:', error);
            });
    });

</script>
</body>
</html>