<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::title},~{::link},~{::main},~{::script})}" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>GoalGoals-SDGs</title>
    <link/>
</head>
<body class="d-flex flex-column min-vh-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav th:replace="layout/layoutNav :: nav_layout" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
    <div class="container-fluid">
        <div class="row flex-nowrap" >
            <div th:replace="layout/layoutSidebarMyPage :: sidebar_layout" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark"></div>
            <div class="col-md-3 border-right" >
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://www.sdgbookclub.com/common/img/default_profile.png">
                    <span class="font-weight-bold">[[${#authentication.name}]]</span>
                    <button id="changePasswordBtn" class="btn btn-primary profile-button mt-3" data-bs-toggle="modal" data-bs-target="#pwModal">비밀번호 변경</button>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">프로필</h4>
                    </div>
                    <form action="infoUpdate.html" th:action="@{/users/info/update}" th:object="${userDTO}" method="post">

                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label for="name">사용자 이름</label>
                                <input type="text" id="name" th:field="*{name}" th:errorclass="error-field" class="form-control" placeholder="이름" >
                                <div class="error-field" th:errors="*{name}">
                                    이름 오류
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label for="id">아이디</label>
                                <input type="text" id="id" th:field="*{id}" th:errorclass="error-field" class="form-control"  placeholder="아이디"  readonly />
                                <div class="error-field" th:errors="*{id}">
                                    아이디 오류
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">이메일</label>
                                    <input type="email" id="email" th:field="*{email}" th:errorclass="error-field" class="form-control"  placeholder="이메일" />
                                    <div class="error-field" th:errors="*{email}">
                                        이메일 오류
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label></label>
                                    <button type="button" class="btn btn-primary email_btn w-100" id="sendMail">인증하기</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="emailCheck">이메일 확인</label>
                                    <input type="text" id="emailCheck" th:field="*{emailCheck}" th:errorclass="error-field" class="form-control" placeholder="이메일 확인" />
                                    <span id="emailCheckValidation"></span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" id="btn2" type="submit">프로필 저장</button>
                        </div>
                    </form>
                </div>
            </div>


            <div class="modal fade" id="pwModal" aria-hidden="true" aria-labelledby="pwModalLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="pwModalLabel">비밀번호 변경</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="modalEmail">이메일</label>
                                        <input type="email" name="email" id="modalEmail" class="form-control" placeholder="이메일">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">`
                                        <label></label>
                                        <button type="button" class="btn btn-primary email_btn w-100" id="sendMail1">인증하기</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="modalEmailCheck">이메일 확인</label>
                                <input type="text" name="emailCheck" id="modalEmailCheck" class="form-control" placeholder="이메일 확인" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary donationSave1" data-bs-target="#pwModal2" data-bs-toggle="modal" data-bs-dismiss="modal">확인</button>
                            <button type="button" class="btn btn-outline-secondary donationClose">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="pwModal2" aria-hidden="true" aria-labelledby="pwModalLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="pwModalLabel2">비밀번호 변경</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="password" class="form-control" id="pw" name="password" placeholder="새 비밀번호">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="pwCheck" placeholder="새 비밀번호 확인">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary donationSave2">확인</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--Custom Js-->
<script type="text/javascript">
    const emailCheckInput = document.querySelector('#emailCheck');
    emailCheckInput.addEventListener('input', validateEmailCheck);
    let key = "";
    $("#sendMail").click(function() {// 메일 입력 유효성 검사

        $.ajax({
            type : "Post",
            url : "/users/checkMail",
            data : {
                email:$('#email').val()
            },
            success:function(result){
                console.log(result)
                alert("인증번호가 발송되었습니다.");
                key = result;
            },
            error:function(){
                console.log()
                alert("인증번호 발송이 실패하였습니다.")
            }
        })
    });

    function validateEmailCheck() {
        const emailCheck = this.value;

        if (emailCheck === key) {
            // 이메일 인증 성공
            document.querySelector('#emailCheckValidation').textContent = '인증 성공';
            $("#submitButton").prop("disabled", false);
        } else {
            // 이메일 인증 실패
            document.querySelector('#emailCheckValidation').textContent = '인증 실패';
            $("#submitButton").prop("disabled", true);
        }
    }
</script>
</body>
</html>

