<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::title},~{::link},~{::main},~{::script})}" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>GoalGoals-SDGs</title>
    <link/>
</head>
<body class="d-flex flex-column min-vh-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav th:replace="layout/layoutNav :: nav_layout" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div th:replace="layout/layoutSidebarMyPage :: sidebar_layout" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark"></div>
            <div class="col py-3" id="content-by">
                <div class="card" style="margin-top: 20px;">
                    <div class="card-body" style="font-weight: bold;">
                        <img src="https://www.sdgbookclub.com/common/img/default_profile.png" alt="프로필 이미지"
                             class="rounded-circle profile-image">
                        <span th:text="${userAndStampCount.id}"></span><b style="margin-top: 20px;">님 안녕하세요, 누적 스탬프: [[${userAndStampCount.stampCardCount}]]개</b>
                    </div>
                </div>

                <table class="table table-bordered" style="margin-top: 30px;">
                    <tbody >
                    <!-- 4x5 테이블을 생성하는 Thymeleaf 반복문 -->
                    <tr>
                        <!-- 각 행에 대한 Thymeleaf 반복문 -->
                        <td th:each="dto : ${stampCardWithGoals}" th:if="${dto.goalId <= 4}" th:style="${dto.checkNum == 1 ? 'background-color: white;' : ''}">
                            <span th:text="${dto.goalTitle}"></span>
                        </td>
                    </tr>
                    <tr>
                        <!-- Thymeleaf loop for each row -->
                        <td th:each="dto, rowStat : ${stampCardWithGoals}" th:if="${dto.goalId > 4 and dto.goalId <= 8}" th:style="${dto.checkNum == 1 ? 'background-color: white;' : ''}">
                            <span th:text="${dto.goalTitle}"></span>
                        </td>
                    </tr>
                    <tr>
                        <!-- Thymeleaf loop for each row -->
                        <td th:each="dto, rowStat : ${stampCardWithGoals}" th:if="${dto.goalId > 8 and dto.goalId <= 12}" th:style="${dto.checkNum == 1 ? 'background-color: white;' : ''}">
                            <span th:text="${dto.goalTitle}"></span>
                        </td>
                    </tr>
                    <tr>
                        <!-- Thymeleaf loop for each row -->
                        <td th:each="dto, rowStat : ${stampCardWithGoals}" th:if="${dto.goalId > 12 and dto.goalId <= 16}" th:style="${dto.checkNum == 1 ? 'background-color: white;' : ''}">
                            <span th:text="${dto.goalTitle}"></span>
                        </td>
                    </tr>
                    <tr>
                        <!-- Thymeleaf loop for each row -->
                        <td th:each="dto, rowStat : ${stampCardWithGoals}" th:if="${dto.goalId == 17}" th:style="${dto.checkNum == 1 ? 'background-color: white;' : ''}">
                            <span th:text="${dto.goalTitle}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-center">
                    <button th:if="${userAndStampCount.stampCardCount eq 17}" class="btn btn-primary" th:onclick="requestPay()">기부하기</button>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- jQuery,아임포트 api 쓰려면 jquery 필수 -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script th:inline="javascript">

    var IMP = window.IMP;
    IMP.init("imp86476566"); // 예: imp00000000

    function requestPay() {
        IMP.request_pay({
            pg: "html5_inicis.INIpayTest",
            pay_method: "card",
            name: "17개의 목표 완료",
            amount: 1700,
            buyer_email: [[${userAndStampCount.email}]],
            buyer_tel : '#',
            buyer_name: [[${userAndStampCount.name}]]
        }, function(rsp) {
            if ( rsp.success ) {
                //[1] 서버단에서 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기
                jQuery.ajax({
                    url: "/users/donation", //cross-domain error가 발생하지 않도록 주의해주세요
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        imp_uid : rsp.imp_uid,
                        'id': [[${userAndStampCount.id}]]
                    }
                }).done(function(data) {
                    //[2] 서버에서 REST API로 결제정보확인 및 서비스루틴이 정상적인 경우
                    if ( everythings_fine ) {
                        var msg = '기부가 완료되었습니다.';
                        alert(msg);
                        location.href = "/users/mypage";

                }});
            } else {
                var msg = '기부에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
                alert(msg);
            }
        });
    }
</script>
</body>
</html>

