<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::title},~{::link},~{::main},~{::script})}" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>GoalGoals-SDGs</title>
        <link>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav th:replace="layout/layoutNav :: nav_layout" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">지속가능발전목표란?</h1>
                                <p class="lead fw-normal text-white-50 mb-4">글로벌 목표로도 알려진 지속가능발전목표(SDGs; Sustainable Development Goals)는 전 세계 빈곤을 종식시키고 지구를 보호하며, 2030년까지 모든 사람들이 평화와 번영을 누릴 수 있도록 보장하기 위한 목표로 2015년 UN에 의해 채택되었습니다.</p>
<!--                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">-->
<!--                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>-->
<!--                                    <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>-->
<!--                                </div>-->
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="/img/main5.jpg" alt="..." /></div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div>
                            <div class="row gx-5 row-cols-1 row-cols-md-5">
                                <div class="col mb-5 h-100">
                                    <div class="feature"><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_1.png" alt="..." /></div>
                                    <!-- Assuming you have a UserDetails object available in your model -->
                                    <div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
                                        <p>User has ROLE_USER permission.</p>
                                    </div>

                                    <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                        <p>User has ROLE_ADMIN permission.</p>
                                    </div>

                                    <div th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}">
                                        <p>User has ROLE_MANAGER permission.</p>
                                    </div>
                                    <h2 class="fw-bolder h5">1. 빈곤종식</h2>
                                    <p class="mb-0">모든 형태의 빈곤을 모든 지역에서 종식</p>
                                    <p></p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature"><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_2.png" alt="..." /></div>
                                    <h2 class="fw-bolder h5">2. 기아종식</h2>
                                    <p class="mb-0">기아를 종식하고, 식량안보 및 영양개선과 지속가능한 농업 증진</p>
                                    <p></p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature "><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_3.png" alt="..." /></div>
                                    <h2 class="fw-bolder h5">3. 건강과 웰빙</h2>
                                    <p class="mb-0">건강한 삶을 보장하고 모든 세대의 복지 증진</p>
                                    <p></p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature "><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_4.png" alt="..." /></div>
                                    <h2 class="fw-bolder h5">4. 양질의 교육</h2>
                                    <p class="mb-0">모두를 위한 포용적이고 공평한 양질의 교육 보장 및 평생학습 기회를 증진한다.</p>
                                    <p></p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature "><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_5.png" alt="..." /></div>
                                    <h2 class="fw-bolder h5">5. 성평등</h2>
                                    <p class="mb-0">성평등을 달성하고 모든 여성과 여아의 역량 강화</p>
                                    <p></p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature "><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_6.png" alt="..." /></div>
                                    <h2 class="fw-bolder h5">6. 깨끗한 물과 위생</h2>
                                    <p class="mb-0">모두를 위한 식수 및 위생시설의 접근성을 확보하고 지속가능한 관리 확립</p>
                                    <p></p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature "><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_7.png" alt="..." /></div>
                                    <h2 class="fw-bolder h5">7. 지속가능한 에너지</h2>
                                    <p class="mb-0">모두를 위한 적정 가격의 신뢰성 있고 지속가능한 현재적인 에너지 접근 보장</p>
                                    <p></p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature "><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_8.png" alt="..." /></div>
                                    <h2 class="fw-bolder h5">8. 양질의 일자리와 경제성장</h2>
                                    <p class="mb-0">지속적, 포괄적, 지속가능한 경제성장과 완전하고 생산적인 고용</p>
                                    <p></p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature "><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_9.png" alt="..." /></div>
                                    <h2 class="fw-bolder h5">9. 혁신과 인프라 구축</h2>
                                    <p class="mb-0">복원력 있는 인프라 시설을 구축하고 포용이고 지속가능한 산업화를 촉진시키며 혁신 장려</p>
                                    <p></p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature "><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_10.png" alt="..." /></div>
                                    <h2 class="fw-bolder h5">10. 불평등 완화</h2>
                                    <p class="mb-0">국내 내/국가 간 불평등을 완화</p>
                                    <p></p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature "><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_11.png" alt="..." /></div>
                                    <h2 class="fw-bolder h5">11. 지속가능한 도시 및 거주지 조성</h2>
                                    <p class="mb-0">복원력 있는 인프라 시설을 구축하고 포용적이고 지속가능한 산업화 촉진시켜 혁신 장려</p>
                                    <p></p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature "><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_12.png" alt="..." /></div>
                                    <h2 class="fw-bolder h5">12. 첵임 있는 소비와 생산</h2>
                                    <p class="mb-0">지속가능한 소비 및 생산 양식 보장</p>
                                    <p></p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature "><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_13.png" alt="..." /></div>
                                    <h2 class="fw-bolder h5">13. 기후행동</h2>
                                    <p class="mb-0">기후변화와 그 영향에 대처하는 긴급행동을 시행</p>
                                    <p></p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature "><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_14.png" alt="..." /></div>
                                    <h2 class="fw-bolder h5">14. 해양 생태계 보호</h2>
                                    <p class="mb-0">지속가능한 발전을 위한 대양, 바다, 해양자원을 보호하고 지속가능하게 이용</p>
                                    <p></p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature "><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_15.png" alt="..." /></div>
                                    <h2 class="fw-bolder h5">15. 육상 생태계 보호</h2>
                                    <p class="mb-0">육상 생태계의 지속가능한 보호 복원 증진, 숲의 지속가능한 관리, 사막화 방지 등</p>
                                    <p></p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature "><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_16.png" alt="..." /></div>
                                    <h2 class="fw-bolder h5">16. 평화 및 제도 구축</h2>
                                    <p class="mb-0">지속가능한 발전을 위해 평화롭고 포용적인 사회 증진, 정의 보장, 책임감 있고 포용적인 제도 구축</p>
                                    <p></p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature "><img class="img-fluid rounded-3 my-5" src="/img/TheGlobalGoals_Icons_Color_Goal_17.png" alt="..." /></div>
                                    <h2 class="fw-bolder h5">17. 목표 달성을 위한 파트너십</h2>
                                    <p class="mb-0">이행수단 강화 및 지속가능발전을 위한 파트너십 확대</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"인구 문제를 해결할 수 있는 기술적 방법은 없다.
                                    인구 문제를 해결하기 위해서는 도덕성이 근본적으로 확장되어야 한다."</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="fw-bold">
                                        미국 생물학자 개릿 하딘(Garrett Hardin)
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        논문 「공유지의 비극」
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-5"/>
        </main>
    <script th:inline="javascript">
        let msg = [[${pwMsg}]];
        console.log(msg);

        if (msg) {
            alert([[${pwMsg}]]+"님의 정보 수정이 완료되었습니다.")
        }
    </script>
    </body>
</html>
